**CSCE 633-600 Homework 1**

**Problem 1: Cosine and Dot Product Similarity**

Ada Huang

January 25, 2023

In [16]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import os
import pandas as pd

In [17]:
# using dic to store the words in the corpus
dic = set()

In [18]:
# iterate through the folder to get each file's content in docs
file_list = os.listdir('docs')
file_contents = []

# iterate through the folder to get each file's content
for file in file_list:
    file_path = os.path.join('docs', file)
    if os.path.isfile(file_path):
        with open(file_path, 'r') as f:
            content = f.read()
            file_contents.append(content)
            for word in content.split():
                dic.add(word)

In [19]:
# iterate through the folder queries to get each file's content in query
query_list = os.listdir('queries')
query_contents = []

# iterate through the folder to get each file's content
for file in query_list:
    file_path = os.path.join('queries', file)
    if os.path.isfile(file_path):
        with open(file_path, 'r') as f:
            content = f.read()
            query_contents.append(content)
            for word in content.split():
                dic.add(word)

In [20]:
print('the number of all words in corpus are', len(dic))

the number of all words in corpus are 2869

In [21]:
# all contents in corpus
all_contents = file_contents + query_contents

In [22]:
# create a vocab of all unique words in all the files
# using token_pattern to not split words with punctuations and apostrophes in the middle
pattern = "\\b[\\w/'-]+\\b"
vectorizer = CountVectorizer(token_pattern=pattern)
vocab = vectorizer.fit_transform(all_contents)

In [23]:
# view full vocab as a dataframe
df_all = pd.DataFrame(vocab.toarray(), columns=vectorizer.get_feature_names_out())
df_all.head()

,_the,aaa,aan,aas,ability,able,abort,abs,absence,absolute,...,yanks,yep,yes,yesterday,york,young,younger,youth,zip,zip/unzip
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# using file name and query name as index
df_all.index = file_list + query_list
# df_all

In [25]:
print('the total number of vocabs are', df_all.shape[1], ', which are the same as the number of words in the corpus.')

the total number of vocabs are 2869 , which are the same as the number of words in the corpus.

In [26]:
index_list = df_all.index.tolist()
# index_list
index_list.remove('1')
index_list.remove('2')
index_list.remove('3')
index_list.remove('4')
index_list.remove('5')

In [27]:
# calculate the dot product of each doc with query and show the top 10
ans = []
for i in range(1, 6):
    q = df_all.loc[str(i)]    
    dot_product = []
    for doc in index_list:
        doc_vector = df_all.loc[doc]
        dot_prod = np.dot(q, doc_vector)
        dot_product.append((dot_prod, doc))
    dot_product.sort(reverse=True)
    top10_dot = dot_product[:10]
    ans.append(top10_dot)

In [28]:
# calculate the cosine similarity of each doc with query and show the top 10
ans2 = []
for i in range(1, 6):
    q = df_all.loc[str(i)]    
    cosine_sim = []
    for doc in index_list:
        doc_vector = df_all.loc[doc]
        cos_sim = round(np.dot(q, doc_vector) / (np.linalg.norm(q) * np.linalg.norm(doc_vector)), 3)
        cosine_sim.append((cos_sim, doc))
    cosine_sim.sort(reverse=True)
    top10_cos = cosine_sim[:10]
    ans2.append(top10_cos)

In [29]:
# print the top 10 similar documents for each query using dot product as similarity
ans

[[(170, '51060'),
  (21, '49960'),
  (11, '51153'),
  (10, '51165'),
  (9, '51164'),
  (7, '51144'),
  (7, '51120'),
  (6, '51135'),
  (6, '51130'),
  (5, '51161')],
 [(64, '59905'),
  (43, '60103'),
  (30, '59850'),
  (19, '59874'),
  (17, '59873'),
  (15, '59909'),
  (12, '59871'),
  (11, '59870'),
  (7, '60210'),
  (6, '59913')],
 [(9, '10011'),
  (7, '59913'),
  (5, '59850'),
  (5, '10083'),
  (4, '10089'),
  (3, '59874'),
  (3, '59873'),
  (3, '10074'),
  (3, '10066'),
  (2, '59908')],
 [(10, '59849'),
  (6, '59850'),
  (6, '51151'),
  (4, '51211'),
  (3, '60213'),
  (3, '60152'),
  (3, '59905'),
  (3, '59874'),
  (2, '60187'),
  (2, '60103')],
 [(23, '102610'),
  (17, '101666'),
  (7, '102591'),
  (6, '102647'),
  (6, '102604'),
  (5, '102627'),
  (5, '102609'),
  (4, '102648'),
  (4, '102608'),
  (4, '102598')]]

In [30]:
# print the top 10 similar documents for each query using cosine similarity
ans2

[[(0.561, '51060'),
  (0.275, '51144'),
  (0.24, '51120'),
  (0.231, '51164'),
  (0.217, '51135'),
  (0.21, '51158'),
  (0.201, '51184'),
  (0.194, '51171'),
  (0.178, '51130'),
  (0.173, '51161')],
 [(0.266, '59905'),
  (0.251, '60103'),
  (0.225, '60170'),
  (0.22, '60210'),
  (0.21, '59850'),
  (0.151, '60195'),
  (0.15, '59909'),
  (0.131, '60198'),
  (0.129, '59870'),
  (0.128, '60200')],
 [(0.224, '10064'),
  (0.173, '10083'),
  (0.171, '10063'),
  (0.135, '10089'),
  (0.132, '10052'),
  (0.129, '10013'),
  (0.113, '10066'),
  (0.091, '59913'),
  (0.081, '10067'),
  (0.076, '101639')],
 [(0.112, '102656'),
  (0.105, '102660'),
  (0.098, '51207'),
  (0.093, '51151'),
  (0.093, '10027'),
  (0.087, '59849'),
  (0.083, '60213'),
  (0.078, '102675'),
  (0.066, '51206'),
  (0.066, '102626')],
 [(0.392, '102598'),
  (0.374, '102610'),
  (0.277, '102647'),
  (0.231, '101666'),
  (0.22, '102609'),
  (0.205, '100521'),
  (0.192, '102617'),
  (0.173, '102608'),
  (0.164, '102634'),
  (0.161, '102622')]]